include ../components/head/head
include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" , class_delimiter :  ' | ' })

include ../components/header/header
include ../components/footer/footer
include ../components/connect-js/scripts
//- контент
include ../components/content/items/items-section
include ../components/content/items/item
include ../components/content/breadcrumbs/breadcrumbs
include ../components/content/rating/rating
include ../components/content/accordion/accordion
include ../components/content/checkbox/checkbox
include ../components/content/radio-block/radio-item
include ../components/catalog/filters/filter
include ../components/product/files/files
//- формы
include ../components/popup/login/login
//- слайдеры
include ../components/sliders/full-slider/full-slider

doctype html
html(lang="ru")
  head
    +head({
      "title": "Главная",
      "description": "Главная страница"
    })

+header()
+b.BODY.main-page
  +breadcrumbs({"index": [0, 1, 2, 3],
    "title": ["Главная", "Уровень 2", "Уровень 3", "Уровень 4"]
  })  
  +items-section({ 
    "section_class": "new-products green",
    "data_attribute": "Новинка",
    "section_title": "Новинки",
    "items_index": [0, 1, 2, 3],
    "item_picture": ["item--clock.jpg", "item--ultra.jpg", "item--massage.jpg", "item--tonometr.jpg"],
    "item_title": ["Часы-пульсометры Beurer PM16", "Ультразвуковой увлажнитель Ballu UHB-190", "Массажер антицеллюлитный Cellules MD", "Тонометр Microlife BP A6 PC"],
    "item_price": ["3 390 р.", "2 390 р.", "5 540 р.", "5 540 р."]
  })  
  +full-slider()
  +accordion()
  +rating("-unique-value", 4)
  +radio-item({
    "indexBlock": "01",
    "subIndex": "00",
    "value": "3",
    "isRequired": "required",
    "radioName": "delivery_id",
    "radioTitle": "Бесплатная курьерская доставка",
    "radioDescription": "При сумме заказа от 2000 руб."
  })
  +radio-item({
    "indexBlock": "01",
    "subIndex": "01",
    "value": "4",
    "isRequired": "required",
    "radioName": "delivery_id",
    "radioTitle": "Платная курьерская доставка 250 руб.",
    "radioDescription": "При сумме заказа менее 2000 руб."
  })
  +product-files()
  +filter({
    "accordionIndex": "02",
    "accordionLabel": "Производитель",
    "isChecked": "checked",
    "checkboxIndex": [0, 1, 2, 3, 4, 5, 6, 7, 8],
    "checkboxLabel": ["Little Doctor (LD)", "Nissei", "Omron", "AND", "Citizen", "Medisana", "VitaDock", "B.Well", "Microlife"],
    "checkboxChecked": ["", "", "", "", "", "", "", "", ""]
    })    

  +footer()
  +popup-login()  

+scripts()
script(src="libs/owl.carousel/dist/owl.carousel.min.js")
script(src="js/components/sliders/full-slider/full-slider.js" async)
script(src="js/components/content/items/items-section.js" async)
script(src="js/components/content/rating/rating.js" async)