.classic-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 20px;
  color: $white;
  font-size: 16px;
  line-height: 18px;
  background: $gold;
  border-radius: 60px;
  border: 1px solid $gold;
  cursor: pointer;

  &:hover {
    background: transparent;
    color: $gold;
  }
}
