mixin link(url)
  +b.SPAN.link(href=url)&attributes(attributes)
    block
//- +link('#Foo') Foo
//- +link('https://github.com')._external Github
//- +link('http://kizu.ru').url(rel="me") Here I am
//- +link('https://github.com')
//-   +e.icon(src="http://favicon.yandex.net/favicon/github.com")
//-   +e.text Github
//- =>
//- <a class="link" href="#Foo">Foo</a>
//- <a class="link link_external" href="https://github.com">Github</a>
//- <a class="link url" href="http://kizu.ru" rel="me">Here I am</a>
//- <a class="link" href="https://github.com">
//-   <img alt="" role="presentation" class="link__icon" src="http://favicon.yandex.net/favicon/github.com"/>
//-   <span class="link__text">Github</span>
//- </a>