mixin scripts()
  script(src="libs/jquery/dist/jquery.min.js")
  script(src="js/components/header/header.js" async)
  //- script(src="js/components/content/select/select.js" async)
  //- script(src="js/lazyLoad/lazyLoad.js")
